.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  width: 50%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container{
  display: flex;
  flex-direction:column;
  width:50%;
  background: #fff;
  
}

.header{
  display:flex;
  flex-direction:column;
  align-items: center;
  gap:5%;
  width:100%;
  margin-top: 10%;
}

.header-text{
  color:#0a235c;
  font-size:350%;
  font-weight: 700;
}

.underline{
  width: 60%;
  height: 6px;
  margin-top: 5%;
  background: #0a235c;
  border-radius: 20%;
}

.inputs{
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  gap: 25px;

}

.input{
  display: flex;
  align-items: center;
  margin: auto;
  width: 80%;
  height: 80px;
  background: #eaeaea;
  border-radius: 6px;
}

.input img{
  margin: 0px 30px;
}

.input input{
  height: 50px;
  width:400px;
  background: transparent;
  border: none;
  outline: none;
  color:#797979;
  font-size: 19px;

}

.forgot-password{
  padding-left: 62px;
  margin-top: 27px;
  color:#797979;
  font-size: 18px;
}

.forgot-password > span{
  text-decoration: underline;
}

.forgot-password span{
  color:#0a235c;
  cursor:pointer;
}

.submit-container{
  display: flex;
  gap: 30px;
  margin: 40px auto;
}

.submit{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: #fff;
  background: #0a235c;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700px;
  cursor:pointer;
}

.gray{
  background: #eaeaea;
  color: #0a235c;
}

@media (max-width: 600px) {
  .main-container {
    flex-direction: column-reverse;
  }

  .logo-container {
    width: 90%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-container{
    display: flex;
    flex-direction:column;
    width:100%;
  }  

  .header-text{
    font-size:250%;
    font-weight: 700;
  }

  
.input{
  display: flex;
  align-items: center;
  margin: auto;
  width: 85%;
  height: 50px;
}

.input img{
  margin: 0px 30px;
}

.input input{
  height: 50px;
  width:400px;
  font-size: 16px;

}

.forgot-password{
  padding-left: 62px;
  margin-top: 27px;
  font-size: 14px;
}

.submit{
  width: 160px;
  height: 40px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700px;
}

.submit-container{
  display: flex;
  margin: 20px auto;
}

}

@media (max-width: 900px) {

  .header-text{
    font-size:250%;
    font-weight: 700;
  }

  
.input{
  display: flex;
  align-items: center;
  margin: auto;
  width: 85%;
  height: 50px;
}

.input img{
  margin: 0px 30px;
}

.input input{
  height: 50px;
  width:400px;
  font-size: 16px;

}

.forgot-password{
  padding-left: 10%;
  margin-top: 27px;
  font-size: 12px;
}

.submit{
  width: 160px;
  height: 40px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700px;
}

.submit-container{
  display: flex;
  margin: 20px auto;
}
}
