.libre {
  background: #144717;
  background-image: radial-gradient(circle at top, #4CAF50 0%, #0c310e 80%);
  border-radius: 5px;
}

.almost {
  background: #7c8518;
  background-image: radial-gradient(circle at top, #9a9717 0%, #545400 80%);
  border-radius: 5px;
}

.counting {
  background: #282537;
  background-image: radial-gradient(circle at top, #465573 0%, #112554 40%);
  border-radius: 5px;
}

.agotado {
  background: #EC407A;
  background-image: radial-gradient(circle at left, #763a4e 0%, #4b1c0e 80%);
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

.cyber__image {
  width: 70%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cyber__card {
  border-radius: 5px;
  margin: 15px;
  width: calc(20% - 30px);
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 1251px) {
  .cyber__card {
    width: calc(25% - 30px);
  }
}
@media screen and (max-width: 990px) {
  .cyber__card {
    width: calc(33.3333333333% - 30px);
  }
}
@media screen and (max-width: 875px) {
  .cyber__card {
    width: calc(50% - 30px);
  }
}
@media screen and (max-width: 650px) {
  .cyber__card {
    width: calc(100% - 30px);
  }
}
.cyber__card:hover .cyber__card__inner {
  background-color: #1d987f;
  transform: scale(1.05);
}

.cyber__card__inner {
  width: 100%;
  height: 310px;
  padding: 30px;
  position: relative;
  cursor: pointer;
  background-color: #949fb0;
  color: #eceef1;
  font-size: 1.3em;
  text-align: center;
  border-radius: 5px;
  letter-spacing: -0.01em;
  font-weight: 300;
  transition: all 0.2s ease-in-out;
}
.cyber__card__inner:after {
  transition: all 0.3s ease-in-out;
}

.collapsed__students {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: auto;
  width: 100%;
  padding: 10px;
  overflow-y: clip;
  align-items: center;
}

.container__dropzone {
  display: flex;
  width: 100%;
}

.student {
  background-color: rgba(40, 46, 55, 0.6196078431);
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  height: 100%;
  margin: 5px;
  gap: 7px;
}

.input-group {
  width: 50%;
}

.dragging {
  opacity: 0.1;
  background-color: black;
}

.card-highlight {
  border: 10px dashed #4CAF50;
  background-color: rgba(76, 175, 80, 0.2);
}
