:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-bg-default: #101216; /* Color fondo negro default */
  --color-fg-default: #fff; /* Color letras blancas(foreground) default */
  --color-bg-toggle: #efefef; /*  Color fondo blanco toggled */
  --color-fg-toggle: #101216; /*  Color letras negras (foreground) toggled */
  --color-header-bg-default: #0D1116;
  --color-border-default: #2B2F35; /* Color de border negro default */
  --color-border-mode: #b9b9b9; /* Color de border blanco toggled */
  
  --global-font: 'Roboto', sans-serif;
  --base-text-weight-light: 300;
  --base-text-weight-normal: 400;
  --base-text-weight-medium: 500;
  --base-text-weight-semibold: 600;

  --toggle-size: 3rem;
  --bar-size: calc(var(--toggle-size) / 8);
  --bar-space: calc((var(--toggle-size) - (var(--bar-size) * 5)) / 2);
  --bar2-top: calc(var(--bar-size) + var(--bar-space));
  --bar3-top: calc(var(--bar2-top) * 2);
  --cyber_map: 1000px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  background-color: var(--color-bg-default);
  color: var(--color-fg-default);
  font-family: var(--global-font);
  height: 100%;
  padding: 0rem;
  box-sizing: border-box;
  flex-direction: column;
}
